html {
  font-size: 10px;
}

body {
  min-width: 320px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #13131F;
  color: rgba(255, 255, 255, 0.50);
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;

  &.safari * {
  }
}

html, body {
  min-height: 100%;
  height: 100%!important;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  padding: 1.6rem 1.6rem 10rem;
}

main.content {
  position: relative;
  flex: 1;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}

a, button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

img:not(.pswp__img) {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

svg {
  width: 100%;
  height: 100%;
}

.not-active, [disabled] {
  pointer-events: none;
  opacity: 0.5;
  transition: 0.3s ease;
}

.preloader img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.preloader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  background-color: rgba(0, 122, 255, .1);
  opacity: 0;
  transition: 0.1s ease;
  pointer-events: none;
  z-index: 1;
}

.preloader.active {
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 20;
}

img.contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

img.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  position: relative;
}


strong {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

.hidden {
  display: none !important;
}

[data-link] {
  cursor: pointer;
}

input, textarea {
  &.error {
    border-color: red !important;
  }
}

.title, h1{
  &:not(:last-child){
    margin-bottom: 0.8rem;
  }
  color: #FFF;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 118%;
}
.subtitle{
  &:not(:last-child){
    margin-bottom: 0.8rem;
  }
}
.number {

  &-label{
    width: calc(100% - 10.6rem);
    position: relative;
    display: block;
    input{
      width: 100%;
      height: 4.5rem;
      padding: 1.4rem;
      padding-right: 6rem;
      border-radius: 1rem;
      border: 1px solid  rgba(255, 255, 255, 0.08);
      background: rgba(112, 111, 125, 0.20);
      box-shadow: -4px -4px 16px 0px rgba(18, 18, 26, 0.18) inset, 4px 4px 16px 0px rgba(255, 255, 255, 0.10) inset;
      backdrop-filter: blur(25px);
      overflow: hidden;
      color:  #FFF;
      text-overflow: ellipsis;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
    }
    &__hint{
      position: absolute;
      right: 1.4rem;
      top: 50%;
      transform: translateY(-50%);
      overflow: hidden;
      color:  rgba(255, 255, 255, 0.50);
      text-overflow: ellipsis;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
    }
  }
  &-button{
    display: flex;
    width: 4.5rem;
    height: 4.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background:  linear-gradient(134deg, #9494B6 -1.26%, #585872 76.47%);
    box-shadow: -4px -4px 16px 0px rgba(18, 18, 26, 0.24) inset, 4px 4px 16px 0px rgba(255, 255, 255, 0.16) inset;
    color: #fff;
    font-size: 2.4rem;
    vertical-align: middle;
    line-height: 1;
  }
  &-container{
    width: 100%;
    display: flex;
    gap: 0.8rem;
  }
}

.form{
  & > *:not(:last-child){
    margin-bottom: 0.8rem;
  }
  label{
    display: block;
    width: 100%;
  }
  input{
    width: 100%;
    height: 4.5rem;
    padding: 1.4rem;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.08);
    background: rgba(112, 111, 125, 0.20);

    box-shadow: -4px -4px 16px 0px rgba(18, 18, 26, 0.18) inset, 4px 4px 16px 0px rgba(255, 255, 255, 0.10) inset;
    backdrop-filter: blur(25px);
    color:  #FFF;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    &::placeholder{
      color:  rgba(255, 255, 255, 0.50);
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
    }
  }
}